<div class="social-outer">
  <div class="social-inner-wrap">
    <div class="social-logo"><i class="fa-brands fa-linkedin-in"></i></div>
    <div class="slide-context">Linkedin</div>

  </div>
  <div class="social-inner-wrap">
    <div class="social-logo"><i class="fa-brands fa-youtube"></i></div>
    <div class="slide-context">YouTube</div>
  </div>
  <div class="social-inner-wrap">
    <div class="social-logo"><i class="fa-brands fa-facebook-f"></i></div>
    <div class="slide-context">faceBook</div>
  </div>
  <div class="social-inner-wrap">
    <div class="social-logo"><i class="fa-brands fa-twitter"></i></div>
    <div class="slide-context">Twitter</div>
  </div>
</div>
