.header-outer {
  width: 100%;
  height: 80px;
  //border: 1px solid red;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  //background-color: #F5F5F5;
  background-color: white;
  box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  top: 0;
  position: fixed;
  z-index: 100;

}


.mb-outer{
  position: fixed;
  margin-top: -100px;
  width: 300px;
  height: 120vh;
  background-color: #262A3C;
  right: -300px;
  button{
    margin-top: 50px;
    background: none;
    i{
      color: white;
    }
  }
  .button-outer{
    padding-top: 40px;
    //border: 1px solid red;

    li{
      position: relative;
      color: white;
      //border: 1px solid red;
      width: 300px;
      list-style: none;
      height: 40px;
      text-align: center;
      padding-top: 10px;
      cursor: pointer;
      transition: all 400ms ease-in-out;
      margin-bottom: 30px;
    }
    li:hover{
      background-color: #282E40;


    }

  }

}

.main-nav{
  display: none;
}
.show-button{
  display: block;
}



@media  (min-width: 768px) {

  .show-button {
    display: none;
  }

  .main-nav{
    display: block;
  }
}
