<div class="container-fluid">
  <div class="row p-4 mt-[120px] ">
    <div class="col-md-6  col-lg-4 col-xl-3 mb-5 sm:flex items-center justify-center"
         *ngFor="let tempData of hotelArrayList">
      <div class="card " style="width: 20rem;" >
        <img class="card-img-top" src="data:image/jpeg;base64,{{tempData.hotelFrontImage}}" alt="Card image cap"
             style="height: 250px!important;">
        <div class="card-body">
          <h5 class="card-title font-bold font-serif text-2xl">{{ tempData.hotelName }}</h5>
          <p class="card-text text-l text-pretty"><span >Category: <span
            class="font-bold">{{ tempData.hotelCategory }}</span></span> <br> <span> Contact : <span
            class="font-bold">{{ tempData.hotelContact.contact1 }}</span></span></p>
          <a  class="btn btn-outline-primary btn-sm cursor-pointer" routerLink="/starter/hotel/view/{{tempData.hotelId}}" >View More</a>
        </div>
      </div>
    </div>
    <!--    <div class= "col-md-6  col-lg-4 col-xl-3 mb-5 sm:flex items-center justify-center ">
          <div class="card " style="width: 20rem;">
            <img class="card-img-top" src="../../../../../assets/starer-slider/sl-1.png" alt="Card image cap" style="height: 250px!important;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class= "col-md-6  col-lg-4 col-xl-3 mb-5 sm:flex items-center justify-center ">
          <div class="card " style="width: 20rem;">
            <img class="card-img-top" src="../../../../../assets/starer-slider/sl-3.png" alt="Card image cap" style="height: 250px!important;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>-->

    <!--    <div class="col-md-6  col-lg-4 col-xl-3 mb-5 sm:flex items-center justify-center">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-6  col-lg-4 col-xl-3 mb-5 sm:flex items-center justify-center">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-6  col-lg-4 col-xl-3 mb-5 sm:flex items-center justify-center">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class= "col-md-6  col-lg-4 col-xl-3 mb-5 sm:flex items-center justify-center">
          <div class="card " style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-6  col-lg-4 col-xl-3 mb-5 sm:flex items-center justify-center ">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-6  col-lg-4 col-xl-3 mb-5 sm:flex items-center justify-center ">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-6  col-lg-4 col-xl-3 mb-5 sm:flex items-center justify-center ">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>-->

  </div>
</div>

