<div class="container-fluid">
  <div class="row p-4 mt-[120px]   ">
    <div class= "col-md-6  col-lg-4 col-xl-3 mb-5 sm:flex items-center justify-center ">
      <div class="card " style="width: 20rem;">
        <img class="card-img-top" src="../../../../../assets/service/service-1.jpg" alt="Card image cap" style="height: 250px!important;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
<!--    <div class= "col-md-6  col-lg-4 col-xl-3 mb-5 sm:flex items-center justify-center ">
      <div class="card " style="width: 20rem;">
        <img class="card-img-top" src="../../../../../assets/starer-slider/sl-1.png" alt="Card image cap" style="height: 250px!important;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class= "col-md-6  col-lg-4 col-xl-3 mb-5 sm:flex items-center justify-center ">
      <div class="card " style="width: 20rem;">
        <img class="card-img-top" src="../../../../../assets/starer-slider/sl-3.png" alt="Card image cap" style="height: 250px!important;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>-->

<!--    <div class="col-md-6  col-lg-4 col-xl-3 mb-5 sm:flex items-center justify-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-6  col-lg-4 col-xl-3 mb-5 sm:flex items-center justify-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-6  col-lg-4 col-xl-3 mb-5 sm:flex items-center justify-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class= "col-md-6  col-lg-4 col-xl-3 mb-5 sm:flex items-center justify-center">
      <div class="card " style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-6  col-lg-4 col-xl-3 mb-5 sm:flex items-center justify-center ">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-6  col-lg-4 col-xl-3 mb-5 sm:flex items-center justify-center ">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-6  col-lg-4 col-xl-3 mb-5 sm:flex items-center justify-center ">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>-->

  </div>
</div>
