<div class="container-fluid">
  <div class="row">
    <div class="col-12  p-5">
      <h1 class="font-bold text-3xl font-serif mb-3"> Welcome To Next Travel</h1>
      <p class="font-sans">
        Next Travel Pvt. Ltd is a subsidiary of Sangam Group of Hotels, one of the biggest hotel chains in SriLana.
        The Sangam Group of Hotels founded in 1968 has for forty years provided impeccable service and outstanding
        hospitality. It currently has 19 properties in Tamil Nadu. GT Holidays Pvt. Ltd built on this strong foundation
        aims to provide great customer satisfaction and an exemplary holiday experience. Planning a once in a lifetime
        holiday or a yearly corporate retreat? No problem! GT Holidays can get you what you want and in the minimal
        time. One of the best destination management companies in South India, it has the experience and infrastructure
        to handle any customer demand. In addition to destination management, GT Holidays also plans corporate tours,
        incentive trips, college/school excursions, business travel, arranges car/railway & hotel bookings and much,
        much more.
      <div class="wrapper"></div>


    </div>
  </div>
</div>

