<app-starter-header></app-starter-header>

<div class=" relative mt-[110px]">
  Lorem ipsum dolordolor sit amet, consectetur adipisicing elit. Aliquid aut, corporis esse eum maxime nulla omnis quae repellendus totam. Ab beatae cupiditate ducimus, impedit itaque iusto nobis nulla perferendis tempora?
  Lorem ipsum dolordolor sit amet, consectetur adipisicing elit. Aliquid aut, corporis esse eum maxime nulla omnis quae repellendus totam. Ab beatae cupiditate ducimus, impedit itaque iusto nobis nulla perferendis tempora?
  Lorem ipsum dolordolor sit amet, consectetur adipisicing elit. Aliquid aut, corporis esse eum maxime nulla omnis quae repellendus totam. Ab beatae cupiditate ducimus, impedit itaque iusto nobis nulla perferendis tempora?
  Lorem ipsum dolordolor sit amet, consectetur adipisicing elit. Aliquid aut, corporis esse eum maxime nulla omnis quae repellendus totam. Ab beatae cupiditate ducimus, impedit itaque iusto nobis nulla perferendis tempora?
  Lorem ipsum dolordolor sit amet, consectetur adipisicing elit. Aliquid aut, corporis esse eum maxime nulla omnis quae repellendus totam. Ab beatae cupiditate ducimus, impedit itaque iusto nobis nulla perferendis tempora?
  Lorem ipsum dolordolor sit amet, consectetur adipisicing elit. Aliquid aut, corporis esse eum maxime nulla omnis quae repellendus totam. Ab beatae cupiditate ducimus, impedit itaque iusto nobis nulla perferendis tempora?
  Lorem ipsum dolordolor sit amet, consectetur adipisicing elit. Aliquid aut, corporis esse eum maxime nulla omnis quae repellendus totam. Ab beatae cupiditate ducimus, impedit itaque iusto nobis nulla perferendis tempora?
  Lorem ipsum dolordolor sit amet, consectetur adipisicing elit. Aliquid aut, corporis esse eum maxime nulla omnis quae repellendus totam. Ab beatae cupiditate ducimus, impedit itaque iusto nobis nulla perferendis tempora?
  Lorem ipsum dolordolor sit amet, consectetur adipisicing elit. Aliquid aut, corporis esse eum maxime nulla omnis quae repellendus totam. Ab beatae cupiditate ducimus, impedit itaque iusto nobis nulla perferendis tempora?
</div>


<app-starter-footer></app-starter-footer>
