<!--
<div class="partners">
  <div class="containers">
    <div class="row col-md-2">

    </div>
    <div class="row col-md-2">

    </div>
    <div class="row col-md-2">

    </div>
    <div class="row col-md-2">

    </div>
    <div class="row col-md-2">

    </div>
    <div class="row col-md-2">

    </div>
    <div class="row col-md-2">

    </div>
  </div>
</div>
-->


<div class="container">
  <div class="row p-2">
    <div class="col-12">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class=" border-2 border-solid border-amber-700 mr-4 ">
            <h1>salman</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium, aut dicta dolore dolorum
              eius, excepturi ipsa ipsam itaque laudantium nam neque nulla odio possimus sit, tempore tenetur unde.
              eius, excepturi ipsa ipsam itaque laudantium nam neque nulla odio possimus sit, tempore tenetur unde.
              eius, excepturi ipsa ipsam itaque laudantium nam neque nulla odio possimus sit, tempore tenetur unde.
            </p>
          </div>
        </ng-template>
        <ng-template carouselSlide >

          <div class=" border-2 border-solid border-amber-700  mr-4 ">
            <h1>salman</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium, aut dicta dolore dolorum
              eius, excepturi ipsa ipsam itaque laudantium nam neque nulla odio possimus sit, tempore tenetur unde.
              eius, excepturi ipsa ipsam itaque laudantium nam neque nulla odio possimus sit, tempore tenetur unde.
              eius, excepturi ipsa ipsam itaque laudantium nam neque nulla odio possimus sit, tempore tenetur unde.
            </p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class=" border-2 border-solid border-amber-700 mr-4 ">
            <h1>salman</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium, aut dicta dolore dolorum
              eius, excepturi ipsa ipsam itaque laudantium nam neque nulla odio possimus sit, tempore tenetur unde.
              eius, excepturi ipsa ipsam itaque laudantium nam neque nulla odio possimus sit, tempore tenetur unde.
              eius, excepturi ipsa ipsam itaque laudantium nam neque nulla odio possimus sit, tempore tenetur unde.
            </p>
          </div>

        </ng-template>
        <ng-template carouselSlide >
          <div class=" border-2 border-solid border-amber-700 mr-4 ">
            <h1>salman</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium, aut dicta dolore dolorum
              eius, excepturi ipsa ipsam itaque laudantium nam neque nulla odio possimus sit, tempore tenetur unde.
              eius, excepturi ipsa ipsam itaque laudantium nam neque nulla odio possimus sit, tempore tenetur unde.
              eius, excepturi ipsa ipsam itaque laudantium nam neque nulla odio possimus sit, tempore tenetur unde.
            </p>
          </div>

        </ng-template>
        <ng-template carouselSlide >
          <div class=" border-2 border-solid border-amber-700 mr-4 ">
            <h1>salman</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium, aut dicta dolore dolorum
              eius, excepturi ipsa ipsam itaque laudantium nam neque nulla odio possimus sit, tempore tenetur unde.
              eius, excepturi ipsa ipsam itaque laudantium nam neque nulla odio possimus sit, tempore tenetur unde.
              eius, excepturi ipsa ipsam itaque laudantium nam neque nulla odio possimus sit, tempore tenetur unde.
            </p>
          </div>

        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>


