<!--
<div class="partners">
  <div class="containers">
    <div class="row col-md-2">

    </div>
    <div class="row col-md-2">

    </div>
    <div class="row col-md-2">

    </div>
    <div class="row col-md-2">

    </div>
    <div class="row col-md-2">

    </div>
    <div class="row col-md-2">

    </div>
    <div class="row col-md-2">

    </div>
  </div>
</div>
-->


<div class="container">
  <div class="row p-2">
    <div class="col-12">
      <h1 class="text-2xl font-serif m-2">Customer Review </h1>
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class=" border-2  shadow-2xl  bo mr-4 p-2 relative  rounded-xl min-h-[350px]">
            <div class="flex items-center justify-center">
              <p class="text-pretty font-sans p-1 ">
                Thank you very much for your fantastic review! I am delighted to hear that you had a wonderful time in
                Sri Lanka and that the tour was well executed as planned. We would love to welcome you again to our
                little island.
                Warm Regards,
              </p>
            </div>
            <h1 class="text-lg font-bold  p-2 border-2 border-amber-700 absolute bottom-0 ">salman</h1>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class=" border-2  shadow-2xl  bo mr-4 p-2  relative rounded-xl min-h-[350px]">
            <div class="flex items-center justify-center">
              <p class="text-pretty font-sans p-1 ">
                I am extremely happy to know that you enjoyed every part of your trip in Sri Lanka. Also I am glad that
                Suranga made your holiday one to not forget.
                Thank you very much for your valuable feedback and I hope that Sri Lanka is recommended to everyone you
                know, and we hope to welcome you back here in the near future.
              </p>
            </div>
            <h1 class="text-xl font-bold  absolute bottom-0 p-2 ">Jassika</h1>
          </div>

        </ng-template>
        <ng-template carouselSlide>

          <div class=" border-2  shadow-2xl  bo mr-4 p-2  relative rounded-xl min-h-[350px]">
            <div class="flex items-center justify-center">
              <p class="text-pretty font-sans p-1 ">
                Dear Andy,
                Thank you very much for your fantastic review of your trip to Sri Lanka. I'm delighted to hear that you
                had an
                outstanding tour with us. Thank you very much for the beautiful pictures you have shared with us. We
                would
                love to welcome you again to our little island.
              </p>
            </div>
            <h1 class="text-xl font-bold absolute bottom-0  p-2 ">John</h1>
          </div>


        </ng-template>
        <ng-template carouselSlide>

          <div class=" border-2  shadow-2xl  bo mr-4 p-2  relative rounded-xl min-h-[350px]">
            <div class="flex items-center justify-center">
              <p class="text-pretty font-sans p-1 ">
                Dear Andy,
                Thank you very much for your fantastic review of your trip to Sri Lanka. I'm delighted to hear that you
                had an
                outstanding tour with us. Thank you very much for the beautiful pictures you have shared with us. We
                would
                love to welcome you again to our little island.
              </p>
            </div>
            <h1 class="text-xl font-bold absolute bottom-0  p-2 ">John</h1>
          </div>

        </ng-template>
        <ng-template carouselSlide>

          <div class=" border-2  shadow-2xl  bo mr-4 p-2  relative rounded-xl min-h-[350px]">
            <div class="flex items-center justify-center">
              <p class="text-pretty font-sans p-1 ">
                Dear Andy,
                Thank you very much for your fantastic review of your trip to Sri Lanka. I'm delighted to hear that you
                had an
                outstanding tour with us. Thank you very much for the beautiful pictures you have shared with us. We
                would
                love to welcome you again to our little island.
              </p>
            </div>
            <h1 class="text-xl font-bold absolute bottom-0  p-2 ">John</h1>
          </div>

        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>


